* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /*-webkit-user-select: none;*/
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft Yahei";
}

.innerC {
    border: 1px solid #000;
    width: 1024px;
    min-height: 100vh;
    margin: 0 auto;
}

/*右面的圆*/
#circles {
    position: fixed;
    height: 70px;
    width: 15px;
    top: 42%;
    right: 3%;
}

#circles ul li {
    width: 8px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #C7A559;
    margin: 0 auto 10px;
    transition: all 0.8s ease 0s;
    /*border-radius: 50%;*/
    cursor: pointer;
}

#circles ul li.cur {
    background-color: #C7A559;
}

.background-image-center {
    background-size: cover;
    background-position: center center;
}