* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    -webkit-user-select: none;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
}

body {
    overflow: hidden;
    opacity: 0;
}

.innerC {
    /*display: none;*/
    position: fixed;
    border: 1px solid #000;
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

/*右面的圆*/
#circles {
    position: fixed;
    height: 70px;
    width: 15px;
    top: 50%;
    right: 3%;
}

#circles ul li {
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 1px solid #3881e0;
    margin: 0 auto 10px;
    transition: all 0.8s ease 0s;
    border-radius: 50%;
    cursor: pointer;
}

#circles ul li.cur {
    background-color: #3881e0;
}
