/*容器*/
#container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*box-sizing: border-box;*/
    /*border: 20px solid #000;*/
    /*overflow: hidden;*/
}

/*单页*/
.page {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    perspective: 1000px;
}

/*我让page里所有的第一层div都居中*/
.page > * {
    position: absolute;
    top: 50%;
    left: 50%;
}

/**********************************************************************************************/
/*page0*/
.page0 {
    background: url("../img/P0/P0_BG.jpg") 100% 100%;
    background-size: cover;
}

.page0 .title {
    color: #777;
    word-break: break-all;
    white-space: nowrap;
}

.page0 .title > div:nth-child(1) {
    font-size: 30px;
    margin-bottom: 3px;
}

.page0 .title > div:nth-child(2) {
    font-size: 26.2px;
}

.page0 .more {
    font-size: 20px;
}

.page0 .sculpt {
}

/**********************************************************************************************/
/*page1 第二页*/
.page1 {
    background: url("../img/P1/P1_BG.png") 100% 100%;
    background-size: cover;
}

/**********************************************************************************************/
/*page2 第三页*/
.page2 {
    background: url("../img/P2/P2_BG.png") 100% 100%;
    background-size: cover;
}

/*page3 第四页*/
.page3 {
    background: url("../img/P3/P3_BG.png") 100% 100%;
    background-size: cover;
}
