/*容器*/
#container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/*单页*/
.page {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    perspective: 1000px;
}

.page > * {
    position: absolute;
    top: 50%;
    left: 50%;
}

/**********************************************************************************************/
/*page0*/
.page0 {
    background-image: url("../img/P0/P0_BG.jpg");
}

.page0 .title {
    color: #5E6568;
    opacity: 0.9;
    word-break: break-all;
    white-space: nowrap;
}

.page0 .line1 {
    width: 384px;
    height: 1px;
    margin-bottom: 5px;
    background: #5E6568;
}

.page0 .line2 {
    width: 80px;
    height: 1px;
    background: #5E6568;
    float: right;
}

.page0 .title > div:nth-child(1) {
    font-size: 30px;
    margin-bottom: 3px;
}

.page0 .title > div:nth-child(2) {
    font-size: 26.2px;
}

.page0 .more {
    color: #C7A559;
    font-size: 20px;
    cursor: pointer;
}

.page0 .sculpt {
}

/**********************************************************************************************/
/*page1 第二页*/
.page1 {
    background: url("../img/P1/P1_BG.png") 100% 100%;
    background-size: cover;
}

/**********************************************************************************************/
/*page2 第三页*/
.page2 {
    background: url("../img/P2/P2_BG.png") 100% 100%;
    background-size: cover;
}

/*page3 第四页*/
.page3 {
    background: url("../img/P3/P3_BG.png") 100% 100%;
    background-size: cover;
}
